$navbar-brand-font-size: 1.5rem;
$navbar-font-size: 1.5rem;

$lantern-dark-green: #3d695f;
$lantern-green: #63a48f;
$lantern-extra-light-green: #93ceb8;

$navbar-light-color: darken($lantern-dark-green, 0.2);
$navbar-light-hover-color: rgba(black, .95);
$navbar-scrolled-background-color: rgba(darken($lantern-extra-light-green, 0.2), 0.9);

$light-color: rgba(white, .95);

$footer-height: 50px;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Mina');

$discord-theme-light-color: $lantern-dark-green;
$discord-theme-dark-color: lighten($gray-900, 2);
$discord-members-font-color: darken($white, 30) !default;

$discord-background-left-path: url(/discord/discord_background_left.png);
$discord-background-right-path: url(/discord/discord_background_right.png);

@import "discord_variables";
@import "discord";

body {
  font-family: Mina, Helvetica Neue, Helvetica, serif;
}

.no-top-padding {
  padding-top: 0 !important;
}

.text-3rem {
  font-size: 3rem;
}

.text-5rem {
  font-size: 5rem;
}

.text-6rem {
  font-size: 6rem;
}

.margin-top-100px {
  margin-top: 100px;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-top-20px {
  padding-top: 20px;
}

.padding-30px {
  padding: 30px;
}

.padding-40px {
  padding: 40px;
}

.background-lantern-green {
  background-color: $lantern-green;
  color: $light-color;
}

.background-lantern-dark-green {
  background-color: $lantern-dark-green;
  color: $light-color;
}

.home-background {
  object-fit: cover;
  width: 100vw;
  max-width: 100%;
  min-height: 40vh;
}

$section-padding: 25px;

section {
  padding-bottom: $section-padding;
  padding-top: $section-padding;
}

.navbar {
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;

  @include media-breakpoint-up('lg') {
    display: table;

    .nav-link i {
      vertical-align: middle;
    }
  }

  .container {
    @each $breakpoint in ('lg', 'xl') {
      @include media-breakpoint-only($breakpoint) {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        padding: 0;
        background: transparent none;

        &.navbar-scrolled {
          background-color: $navbar-scrolled-background-color;
        }

        & > div {
          width: map-get($container-max-widths, $breakpoint) / 2;
          padding: $navbar-padding-y $navbar-padding-x;
        }

        &:nth-child(1) > div {
          float: right;
        }
        &:nth-child(2) > div {
          float: left;
        }
      }
    }

    .navbar-base {
      display: flex;
      justify-content: space-between;
    }

    @each $breakpoint in ('xs', 'sm', 'md') {
      @include media-breakpoint-only($breakpoint) {
        width: 100%;
        max-width: 100%;

        &:nth-child(1).navbar-scrolled {
          background-color: $navbar-scrolled-background-color;
        }

        & > div {
          margin: 0 auto;
          $max-width: map-get($container-max-widths, $breakpoint);
          @if ($max-width == null) {
            $max-width: 100%;
          }
          width: $max-width;
          padding: $navbar-padding-y $navbar-padding-x;
        }
      }
    }
  }

  .collapse.show {
    margin-bottom: $navbar-padding-y;
  }
}

.navbar-brand {
  color: $navbar-light-color !important;
  span {
    vertical-align: bottom;
    font-size: 1.6rem;
    padding-left: 5px;
  }
}

.nav-item a,
.navbar-brand {
  text-decoration: none;
}

.navbar-collapse {
  background-color: transparent;

  &.collapse.show {
    margin-bottom: 0;
  }

  .nav-item {
    font-size: $navbar-font-size;
    text-align: center;

    .nav-link.btn {
      font-size: $navbar-font-size;
    }

    .icon-info {
      padding-left: 12px;

      @include media-breakpoint-up('lg') {
        display: none;
      }
    }
  }

  @include media-breakpoint-down('md') {
    background-color: rgba(white, .9);
    border-radius: 5px;

    .nav-item {
      padding: 0 1em;

      &:hover {
        background-color: rgba(black, .1);
      }
    }
  }
}

p {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

footer {
  padding: 15px 0;
  background-color: $lantern-dark-green;
  color: $light-color;

  p {
    padding-bottom: 0;
  }
}

.copyright-years {
  white-space: nowrap;
}

h1,
h2 {
  width: 100%;
}

.title {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: underline;
  color: white;

  &:hover {
    color: $navbar-light-hover-color;
  }
}

.row {
  margin: auto;
  width: 100%;

  .text-center,
  .text-center *,
  &.text-center,
  &.text-center * {
    width: 100%;
  }
}

// Fixed footer at the bottom of the page

html, body {
  height: 100%;
  background-color: $lantern-extra-light-green;
}

.content-wrap {
  min-height: 100%;
}

.content {
  overflow: auto;
  padding-bottom: $footer-height;
}

footer {
  position: relative;
  margin-top: -$footer-height;
  min-height: $footer-height;
  clear: both;
}