{{ define "main" }}
    <div>
        <img class="home-background" src="art/home_page_header.svg" alt="Header" />
        <section class="background-lantern-green no-top-padding">
            <div class="container title padding-top-20px">
                <div class="row col-lg-12 text-center">
                    <h1>Lantern</h1>
                    <p class="padding-top-10px">An open source Minecraft: Java Edition server implementation.</p>
                </div>
            </div>
        </section>
        <section class="background-lantern-dark-green">
            <div class="container">
                <div class="row padding-top-10px">
                    <div class="col col-12 col-md-4 text-center padding-top-10px">
                        <i class="fab fa-github text-6rem"></i>
                        <h2 class="padding-top-20px">Open Source</h2>
                        <p>Lantern is completely open source, which means that everyone can contribute.
                            The project can be found on
                            <a href="https://github.com/LanternPowered/Lantern" data-toggle="tooltip" data-placement="bottom" title="Lantern @ GitHub">GitHub</a>.</p>
                    </div>
                    <div class="col col-12 col-md-4 text-center padding-top-10px">
                        <i class="fas fa-cog text-6rem"></i>
                        <h2 class="padding-top-20px">Customizable</h2>
                        <p>Lantern implements the API designed by
                            <a href="https://www.spongepowered.org/" data-toggle="tooltip" data-placement="bottom" title="Sponge - Minecraft: Java Edition Modding API">Sponge</a>.
                            Plugins designed using the API can be used for Lantern.</p>
                    </div>
                    <div class="col col-12 col-md-4 text-center padding-top-10px">
                        <i class="fas fa-puzzle-piece text-6rem"></i>
                        <h2 class="padding-top-20px">Compatible</h2>
                        <p>Lantern is compatible with the latest version of
                            <a href="https://minecraft.net/en-us/" data-toggle="tooltip" data-placement="bottom" title="Minecraft">Minecraft: Java Edition</a>.
                            You don't need a special client to join the server.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="background-lantern-green">
            <div class="container">
                <div class="row padding-top-10px justify-content-md-center">
                    <div class="col col-12 col-md-6 col-lg-5 text-center padding-top-10px m-auto">
                        <h2>Community</h2>
                        <p>The community is located in a Discord server. This is the place where we talk about development, answer questions, etc. Feel free to join us!</p>
                    </div>
                    <div class="col col-12 col-md-6 col-lg-5 padding-top-10px">
                        {{ partial "site-discord.html" . }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{{ end }}